#main{
    color:rgb(0,0,255)
}
#test{
    color:aquamarine
}
#aboba{
    color:brown
}
div{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}