body{
    display: flex;
    margin: 0px;
    padding: 0px;
    justify-content: center;
    background-color: bisque;
}
button{
    transition-duration: 0.6s;
}
.cell{
    color:rgba(255, 174, 0, 0.816);
    font-size: 3vh;
    border-color: black;
    border-radius: 15px;
    width: 23vi;
    height: 15vh;
    /* padding: 1px; */
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.683);
    margin: 0.2vi;
}
button:hover{
    background-color: gray;
}
button:active{
    background-color:rgba(255, 174, 0, 0.816);
    /* opacity: 60%; */
    transition-duration: 0.15s;
}
.res{
    border: solid thick black;
    border-radius: 15px;
    height:fit-content;
    font-size: 4vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}